<p>catalogo works!</p>

<div class="catalogo-container">

  <h2 *ngIf="!productId">Crear Producto</h2>
  <h2 *ngIf="productId">Actualizar Producto</h2>

  <form [formGroup]="productoForm" (ngSubmit)="saveProduct()">

    <!-- ID solo visible cuando se está editando -->
    <div *ngIf="productId">
      <label>ID del producto</label>
      <input type="text" [value]="productId" readonly>
    </div>

    <div>
      <label>Nombre</label>
      <input 
        type="text"
        formControlName="nombre"
        placeholder="Ingrese nombre del producto"
      >
    </div>

    <div>
      <label>Precio</label>
      <input 
        type="number"
        formControlName="precio"
        placeholder="Ingrese precio"
      >
    </div>

    <div>
      <label>Stock</label>
      <input 
        type="number"
        formControlName="stock"
        placeholder="Ingrese stock"
      >
    </div>

    <div class="buttons">

      <!-- botón dinámico (Osea que cambia su función dependiendo si hay id o no)-->
      <button type="submit">
        {{ productId ? 'Actualizar Producto' : 'Crear Producto' }}
      </button>

      <!-- botón para limpiar formulario -->
      <button type="button" (click)="productoForm.reset(); productId = null">
        Cancelar
      </button>

    </div>

  </form>

</div>